.btn {
    background-color: rgb(13, 68, 248);
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 100px;
    float: right;
    cursor: pointer;
    margin: 10px 50px;
    border: none;
    outline: none;
}
